/*red:#d43c33*/
/*grey:#888*/
@media screen and (min-width:769px){
    body{overflow:scroll;}
    .page{width:768px;margin:5px auto 0;transform:translate(0);border:1px solid #ddd;box-shadow:0 1px 10px rgba(0,0,0,.5);}
}
.icon{ width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: visible; }
h2.title{font-size:17px; line-height: 17px;position:relative;padding-left:9px;vertical-align:middle;margin-bottom:16px;}
h2.title::before{content:'';position:absolute;width:2px;height:calc(100% - 1px);top:0;left:0;background-color:#d43c33;}
.scaleBorder::after{content:''; position:absolute; top:0; left:0; width:200%; height:200%;
    transform: scale(.5); transform-origin: 0 0; }

/*播放列表*/
.songInfo-container{display:flex;margin-left:10px;padding:6px 10px 6px 0;align-items:center; position:relative;z-index:0;}
.songInfo-container::after{border-bottom:1px solid #ddd;z-index:-1;}
.songInfo-container>.songInfo{flex-grow:1;flex-shrink:1;flex-basis:auto;width:0;}
.songInfo-container>.songInfo>.songName{font-size:17px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.songInfo-container>.songInfo>.songName>span{color:#888;}
.songInfo-container>.songInfo>.singerAlbum{font-size:12px;color:#888;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.songInfo-container>.songInfo>.singerAlbum>.icon.false{display:none;}
.songInfo-container>.songInfo>.singerAlbum>.icon.true{display:inline-block;}
.songInfo-container>.songInfo>.singerAlbum>.singer{padding-left:1px;}
.songInfo-container>.playButton{margin-left:10px;flex-shrink:0;margin-right:10px;}
.songInfo-container>.playButton>.icon{width:22px;height:22px;fill:rgba(0,0,0,.3);vertical-align:top;}

/*topbar*/
.page{background:#fcfcfd;}
.topbar{height:64px;overflow:hidden;}
.topbar>.logo{background: #d43c33;padding:17px 10px;position:fixed;top:0;left:0;width:100%;z-index:5;}
.topbar>.logo>.logosvg{width: 142px;height:26px;position: absolute; left:10px; top:50%; transform:translateY(-50%);}
.topbar>.logo>.logosvg>g{fill:white;}
.topbar>.logo>a{float:right; display:inline-block; color:white; text-align:center; font-size:15px; padding:0 10px; line-height:30px;
    position: relative;}
.topbar>.logo>a::after{border-radius: 30px; border:1px solid;  }

/*tab navigation*/
main{overflow:hidden;}
main::before{content:'';display:block;height:40px;}
.tabNav{background-color:white; display:flex; position:fixed;top:64px;left:0;width:100%;z-index:5;}
.tabNav::after{border-bottom:1px solid #cdcccc;z-index:0;}
.tabNav>li{width:33.33333%;text-align:center;position:relative;z-index:1;}
.tabNav>li>span{ border-top: 3px solid transparent; border-bottom: 2px solid transparent; display:inline-block; font-size:15px;
    line-height:35px;padding:0 5px;}
.tabNav>li.active>span{border-bottom-color:#d43c33;color:#d43c33;}

/*tab items*/
.tabContent{}
.tabContent>li{display:none}
.tabContent>li.active{display:block}

/*推荐音乐页面*/
.pageRecolist{padding-top: 21px;}
/*推荐歌单*/
.recoPlaylists-container{}
.recoPlaylists-container>.recoPlaylists{display:flex; flex-wrap:wrap; justify-content: space-between;}
.recoPlaylists-container>.recoPlaylists>a{width: calc(33.333333% - 2px);padding-bottom:16px;}
.recoPlaylists-container>.recoPlaylists>a>p{font-size:13px;display:-webkit-box;-webkit-box-orient: vertical;margin-top:6px;
    padding-left:6px;padding-right:2px;overflow:hidden;-webkit-line-clamp:2;line-height:15px;height:30px;}
.recoPlaylists-container>.recoPlaylists .poster{position:relative;width:100%;padding-top:100%;}
.recoPlaylists-container>.recoPlaylists .poster>img{width: 100%;height:auto;vertical-align:top;position:absolute;
    display:block;top:0;left:0;}
.recoPlaylists-container>.recoPlaylists .poster>span{position: absolute;top:5px;right:5px;color:white;
    font-size:12px;line-height:12px;padding-left:13px;background:url("../images/headset.svg") 0 0/ 12px no-repeat;}
.recoPlaylists-container>.recoPlaylists .poster>.champion{position:absolute;left:0;top:0;height:20px;width:20px;background:url("../images/champion.svg");}
.recoPlaylists-container>.recoPlaylists .poster::before{content:'';position:absolute;left:0;top:0;height:20px;width:100%;
    background:linear-gradient(180deg,rgba(0,0,0,.2),transparent);}
/*最新音乐*/
.latestMusic-container{padding-top:25px;}
/*网易云音乐广告*/
.art-container{padding-top:53.3%;margin-top:4px;background:url("../images/artBackground.png") center/contain no-repeat;position:relative;}
.art-container>.art{position:absolute;top:31.7065%;left:0;width:100%;text-align:center;}
.art-container>.art>.artSvg{width:230px;vertical-align:top;}
.art-container>.art>.openAPP{display:block;color:#d43c33;border:1px solid;font-size:16px;margin:15px 37px 4px;padding:11px 0;
    line-height:1;border-radius:38px;}
.art-container>.art>.copyright{display:block;font-size:12px;color:#888;transform: scale(.75);}
@media screen and (max-width: 374px){ .art-container>.art{top:22.3088%;} }

/*热歌榜页面*/
/*banner*/
.pageHotList>.banner{padding:6.6666667% 0 6.6666667% 20px; background:url("../images/bannerBackground.jpg")no-repeat;
    background-size:cover;position:relative;z-index:1;}
.pageHotList>.banner::after{content:'';position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.2);z-index:-1;}
.pageHotList>.banner>.titleIcon{width:40.22669%;padding-top:18.9802%;background:url("../images/sprite.png") 0 0/contain no-repeat; }
.pageHotList>.banner>.updateTime{display:inline-block;font-size:12px;color:rgba(255,255,255,.8);transform:scale(.91);transform-origin:0 0;margin-top:10px;}
@media(min-width:376px){ .pageHotList>.banner>.updateTime{transform:none;} }
/*热歌榜列表*/
.pageHotList>.songList{}
.pageHotList>.songList>.songInfo-container>.order{font-size:17px;color:#888;margin-right:9px;}
.pageHotList>.songList>.songInfo-container::after{left:28px;}
.pageHotList>.songList>.songInfo-container:nth-child(-n+3)>.order{color:#d43c33;}
/*查看完整表单*/
.pageHotList>.loadAll{display:block;color:#888;text-align:center;padding:17px 0;}

/*搜索页面*/
.pageSearch{}
/*搜索框*/
.pageSearch>.textInput-container{padding:15px 0;position:relative;z-index:1;}
.pageSearch>.textInput-container::after{border-bottom: 1px solid #ddd;z-index:-1;}
.pageSearch>.textInput-container>.textInput{height:30px;width:94.66667%;margin:0 auto;position:relative; background:#ebecec;
    border-radius:30px;}
.pageSearch>.textInput-container>.textInput>.textHolder{display:block;padding:5px 0 0 30px;color:#c9c9c9;}
.pageSearch>.textInput-container>.textInput>#searchInput{border:0;position:absolute;left:0;top:0;width:100%;height:100%;
    padding:0 30px;font-size:14px;color:#333; background:url("../images/search.svg") 8px 9px /13px 13px no-repeat transparent;}
.pageSearch>.textInput-container>.textInput>#searchInput:focus{outline:0;}
.pageSearch>.textInput-container>.textInput>.empty{display:none;height:30px;width:30px;position:absolute;top:0;right:0;
    background:url("../images/empty.svg") center/14px 14px no-repeat;border-radius: 0 50% 50% 0;}
.pageSearch>.textInput-container>.textInput>.empty.active{display:block;}
/*热门搜索*/
.pageSearch>ul.showSearch{}
.pageSearch>ul.showSearch>.recoSearch{display:none;}
.pageSearch>ul.showSearch>.recoSearch>.hotSearch{padding:12px 10px 0;}
.pageSearch>ul.showSearch .hotSearch>h4{font-size:12px}
.pageSearch>ul.showSearch .hotSearch>.hotSearchValue{padding-top:7px;}
.pageSearch>ul.showSearch .hotSearch>.hotSearchValue>a{position:relative;display:inline-block;vertical-align:top; padding:8px 15px;
    line-height:14px;border-radius:30px;margin:0 4px 8px 0;}
.pageSearch>ul.showSearch .hotSearch>.hotSearchValue>a::after{transform-origin:-2px -2px;width:calc(200% + 4px);height:calc(200% + 4px);
    bottom:-1px; border:1px solid #ccc; border-radius:50px;}
/*搜索历史*/
.searchList>.searchItem{display:flex;align-items:center;}
.searchList>.searchItem>.searchIcon{height:15px;width:15px;margin-right:10px;}
.searchList>.searchItem>.value-container{flex-grow:1;display:flex;align-items:center;padding:12px 0;position:relative;z-index:0;}
.searchList>.searchItem>.value-container::after{border-bottom:1px solid #ddd;z-index:-1;}
.searchList>.searchItem>.value-container>.value{flex:1; overflow:hidden;text-overflow:ellipsis;width:0;}
.pageSearch>ul.showSearch>.recoSearch{display:none;}
.pageSearch>ul.showSearch>.recoSearch>.history{padding-left:10px;padding-top:8px;}
.pageSearch>ul.showSearch .history .historyIcon{ background:url("../images/historyIcon.svg") 0 0 /cover no-repeat;}
.pageSearch>ul.showSearch .value-container>.close{width:32px;height:32px; background:url("../images/close.svg") center /12px 12px no-repeat; }
/*搜索结果*/
.pageSearch>ul.showSearch>.nameResult{display:none;padding-left:10px;}
.pageSearch>ul.showSearch>.nameResult>h4{position:relative;font-size:15px;color:#507daf;line-height:16px;padding:17px 0;}
.pageSearch>ul.showSearch>.nameResult>h4::after{border-bottom:1px solid #ddd;}
.pageSearch>ul.showSearch .nameResult .searchIcon{ background:url("../images/search.svg") 0 0 /cover no-repeat;}
.pageSearch>ul.showSearch>.allResult{display:none;}
.pageSearch>ul.showSearch .searchList>.prompt,.allResult>.prompt{text-align:center;margin-right:10px;color:#333;padding: 20px 0;}
.pageSearch>ul.showSearch>li.active{display:block;}

.recoPlaylists-container.loading>.recoPlaylists{display:none;}
.pageHotList.loading>.loadAll{display:none;}
