.page{position: relative; z-index:0;overflow:hidden;color:white;}
.page>.background{position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;
   background:center /cover no-repeat;filter:blur(20px);
   transform:scale(1.5);transform-origin:center top;transition:all .5s ease;}
.page::after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;
   background:rgba(0,0,0,.5);}

/*player*/
.player-wrapper{padding-top:70px;position:relative;}
/*指针*/
.player-wrapper>.needle{position:absolute;top:0;left:calc(50% - 15px);width:96px;height:137px;z-index:1;
   background:url(../images/needle-ip6.png) 0 0 /cover no-repeat;}
/*光盘的黑边和光晕*/
.player-wrapper>.disc{width: 296px;height:296px;margin:0 auto;position:relative;z-index:0;
   border-radius:50%;padding-top:0.1px;}
.player-wrapper>.disc::before{content:'';display:table;width:100%;height:100%;position:absolute; top:0;left:0;
   border-radius:50%;background:url(../images/disc-ip6.png) center /contain no-repeat;}
.player-wrapper>.disc::after{content:'';width:100%;height:100%;position:absolute; top:0;left:0;
   border-radius:50%;background:url(../images/disc_light-ip6.png) center /contain no-repeat;animation: circle 20s infinite linear paused;}
.player-wrapper>.disc.active::after{animation: circle 20s infinite linear;}
/*歌曲封面*/
.player-wrapper>.disc>.default-poster{width:185px;height:185px;position:absolute;top:50%;left:50%;border-radius:50%;
   margin-top:-92px;margin-left:-92px;background:url(../images/disc_default.png) center/cover no-repeat;
   animation: circle 20s infinite linear paused;z-index:1;}
.player-wrapper>.disc>.song-poster{width:185px;height:185px;position:relative;top:50%;left:50%;border-radius:50%;
   margin-top:-92px;margin-left:-92px;background: center/cover no-repeat; z-index:1;}
.player-wrapper>.disc.active>.default-poster{animation: circle 20s infinite linear;}
/*播放、暂停键*/
.icon { width: 58px; height: 58px;vertical-align: middle; fill: white; overflow: hidden; }
.player-wrapper>.disc>.song-poster>.control{display:none;width: 56px; height: 56px;position:absolute;top:50%;left:50%;
   z-index:2;transform:translate(-50%,-50%); border-radius:50%;background:rgba(0,0,0,.5);}
.player-wrapper>.disc>.song-poster>.control.canplay{display:block;}
.player-wrapper>.disc>.song-poster>.control>.play{margin-top:-1px;margin-left:-1px;}
.player-wrapper>.disc>.song-poster>.control>.pause{display:none;}
.player-wrapper>.disc.active .control>.play{display:none;}
.player-wrapper>.disc.active .control>.pause{display:block;margin-top:-1px;margin-left:-1px;}
/*video*/
.player-wrapper>.media>audio{display:none;}

/*歌词*/
.song-info{margin-top:25px;padding:0 35px;text-align:center;}
.song-info>.song-name{font-size:18px;line-height:1.1;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;}
.song-info>.song-name>.singer{color:rgba(255,255,255,.6);font-size:16px;}
.song-info>.lyric-wrapper{margin-top:14px;color:rgba(255,255,255,.6)}
.song-info>.lyric-wrapper>.lyric-viewbox{overflow:hidden;font-size:16px;line-height:1.5;height:88px;}
.song-info>.lyric-wrapper>.lyric-viewbox>.lyric-list{transition:all .3s ease-out;/*transform:translateY(-96px);32px*/}
.song-info>.lyric-wrapper>.lyric-viewbox .lyric-item{padding-bottom:8px;}
.song-info>.lyric-wrapper>.lyric-viewbox .lyric-item.turnWhite{color:white;}
.song-info>.lyric-wrapper>.lyric-viewbox .lyric-item>span{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.song-info>.lyric-wrapper>.lyric-viewbox .lyric-item>.lyric-origin{}
.song-info>.lyric-wrapper>.lyric-viewbox .lyric-item>.lyric-translation{display:none;}
/*有翻译的情况*/
.song-info>.lyric-wrapper>.lyric-viewbox.with-translation{height:92px;}
.song-info>.lyric-wrapper>.lyric-viewbox.with-translation>.lyric-list{/*transform:translateY(-196px);49px*/}
.song-info>.lyric-wrapper>.lyric-viewbox.with-translation .lyric-item{padding-bottom:6px;}
.song-info>.lyric-wrapper>.lyric-viewbox.with-translation .lyric-item>.lyric-origin{line-height:1.2;}
.song-info>.lyric-wrapper>.lyric-viewbox.with-translation .lyric-item>.lyric-translation{display:block;}

/*按钮*/
.buttons-wrapper{position:absolute;bottom:20px;width:100%;left:0;text-align:center;}
@media(max-height:600px){
   .buttons-wrapper{position:relative;padding-top:10px;width:100%;left:0;bottom:10px;text-align:center;}
}
.buttons-wrapper>a{display:inline-block;color:#d43b32;line-height:40px; font-size:18px;border:1px solid;padding:0 12.8%;border-radius:4px;}
.buttons-wrapper>.open{color:#d43b32;}
.buttons-wrapper>.download{margin-left:3.2%;background:#d43b32;color:white;border-color:#d43b32;}

@keyframes circle{
   0%{
      transform: rotateZ(0deg)
   }
   100%{
      transform: rotateZ(360deg)
   }
}
