<div class="page">
    <header>
        <div class="header-background"></div>
        <div class="header-inner">
            <div class="poster">
                <span class="count"></span>
                <i>歌单</i>
            </div>
            <div class="title-wrapper">
                <h2 class="title"></h2>
                <a href="#" class="author-link">
                    <span class="avatar"></span>
                    <span class="author">-武姜儿-</span>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="information">
            <div class="tags">
                <span>标签：</span>
                <span class="tag-item scaleBorder">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="tag-item scaleBorder">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="tag-item scaleBorder">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="description">
                <div class="text-wrapper">
                </div>
                <span class="arrow"></span>
            </div>
        </div>
        <div class="playlist-wrapper loading">
            <h3 class="title">歌曲列表</h3>
            <div class="songList">
            </div>
            <div class="no-more">已经到达列表底部</div>
        </div>
    </main>
    <footer>
        <div class="button-wrapper scaleBorder">
            <a href="http://m.music.163.com/m/applink/?scheme=orpheus%3A%2F%2Fplaylist%2F882960422&dl=https%3A%2F%2Fitunes.apple.com%2Fapp%2Fid590338362" class="button">收藏歌单</a>
        </div>
    </footer>
</div>
<script src="../vendors/av-min.js"></script>
