<div class="page">
    <div class="background"></div>
    <div class="player-wrapper">
        <div class="needle"></div>
        <div class="disc">
            <div class="default-poster"></div>
            <div class="song-poster">
                <div class="control">
                    <svg class="icon play" aria-hidden="true">
                        <use xlink:href="#icon-play"></use>
                    </svg>
                    <svg class="icon pause" aria-hidden="true">
                        <use xlink:href="#icon-pause"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="media">
            <audio src=""></audio>
        </div>
    </div>
    <div class="song-info">
        <h3 class="song-name">
            <span class="name"></span>
            <span class="dash"></span>
            <span class="singer"></span>
        </h3>
        <div class="lyric-wrapper">
            <div class="lyric-viewbox">
                <ul class="lyric-list">
                </ul>
            </div>
        </div>
    </div>
    <div class="buttons-wrapper">
        <a href="http://m.music.163.com/m/applink/?scheme=orpheus%3A%2F%2Fsong%2F143474&dl=https%3A%2F%2Fitunes.apple.com%2Fapp%2Fid590338362" class="open">打 开</a>
        <a href="http://music.163.com/m/" class="download">下 载</a>
    </div>
</div>
<script src="../vendors/av-min.js"></script>
